*{
	box-sizing: border-box;
}



.wrapper {
	width: 600px;
	margin: 0 auto 0 auto;
	padding: 20px
}

header {padding: 40px
	   background: #eee;
        text-align: center;
        padding: 20px
        margin: 0



        }



#relative {
	background: #eee;
	position: relative;
	padding: 20px
	margin-bottom:20px;
	text-align: center;
	height: 200px



}

#absolute {
	background: #999
	



}
footer {
	

	background-color: #999;
	
}